/ScriptTemplateEditor/.vs/
/ScriptTemplateEditor/etc/
/ScriptTemplateEditor/Library/
/ScriptTemplateEditor/ProjectSettings/
/ScriptTemplateEditor/UnityPackageManager/
/ScriptTemplateEditor/Temp/
*.csproj
*.sln
